* text=auto eol=lf

*.bib text eol=lf
*.cff text eol=lf
*.csv text eol=lf
*.json text eol=lf
*.jsonl text eol=lf
*.md text eol=lf
*.py text eol=lf
*.svg text eol=lf
*.tex text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

*.pdf binary
*.png binary
*.zip binary
